.Addrecplist-labels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Addrecplist-labels-container div {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1rem;
}
.Addrecplist-labels-container > div > span {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
  gap: 1rem;
  margin-top: 12px;
}
.Addrecplist-labels-container div input {
  outline-style: none;
  border: none;
  height: 40px;
  padding: 2px;
}
.Addrecplist-labels-container div select {
  outline-style: none;
  border: none;
  height: 40px;
  padding: 2px;
  border: 1px solid grey;
}
.Addrecplist-labels-container div label {
  font-style: bold;
  font-weight: 500;
  margin-top: 5px;
}
.Addrecplist-form-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 500px;
  padding: 10px;
  cursor: text;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}
.Addrecplist-mainform-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.Addrecplist-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 226, 1) 0%,
    rgba(2, 3, 212, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.Addrecplist-header-options-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Addrecplist-header-options-container button {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 226, 1) 0%,
    rgba(2, 3, 212, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline-style: none;
  width: 100px;
  height: 30px;
  border-radius: 6px;
}
